<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <td>发件人</td>
      <td>内容</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @message.sender_id %></td>
      <td><%= @message.content %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
