<%= simple_form_for(@comment, url: article_comments_path(article_id: params[:id])) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :speaker_name, label: "评论者" %>
    <%= f.input :text, label: "评论内容" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
