<div class="col-md-12">
  <div>
    <%= link_to("管理文章", articles_path, class: "btn btn-primary") %>

    <% if can? :read, Label %>
    <a href="/admin/sidekiq" class="auto">
      <i class="glyphicon glyphicon-stats icon text-primary"></i>
      <span class="font-bold">控制面板</span>
    </a>
      <%= link_to('管理标签', labels_path, class: "btn btn-primary") %>
      <%= link_to("管理图片", pictures_path, class: "btn btn-primary") %>

    <% end %>
    <% if can? :manage, User %>
      <%= link_to('管理用户', users_path, class: "btn btn-primary") %>
    <% end %>

  </div>
  <br>

    <table class="table table-hover">
        <thead>
          <tr>
            <td>标题</td>
            <td>来源</td>
            <td>
              阅读量排序
              <%= link_to("up", ascending_articles_path) %>
              <%= link_to("down", descending_articles_path) %>
            </td>
            <td>
              发表时间
              <%= link_to("time", time_order_articles_path) %>
            </td>

            <td>编辑</td>
            <td>删除</td>
          </tr>
        </thead>

        <tbody>
          <%= render(@articles) %>
        </tbody>
    </table>

</div>
<%= link_to("new文章", new_article_path, class: "btn btn-primary") %>
