<table>
  <tr>
    <thead>
      <td>文章标题</td>
      <td>文章内容</td>
      <td>工号名字</td>
      <td>阅读量</td>
      <td>文章标签</td>

    </thead>
  </tr>
  <tr>
    <tbody>
      <td><%= @article.title %></td>
      <td><%= @article.content %></td>
      <td><%= @article.gonghao_name %></td>
      <td><%= @article.traffic %></td>
      <td>
        <% @article.labels.each do |label| %>
        <%= label.name %>
        <% end %>
      </td>
    </tbody>
  </tr>
</table>
<hr>
<h3>评论</h3>

<%= simple_form_for([@article, @comment]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :speaker_name, label: "评论者" %>
    <%= f.input :text, label: "评论内容" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<h6>所有评论</h6>
<table>
  <thead>
    <tr>
      <td>评论者</td>

      <td>评论内容</td>

    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment|%>
    <tr>
      <td><%= comment.speaker_name %></td>

      <td><%= comment.text %></td>

    </tr>
    <% end %>
  </tbody>
</table>
