
<%= @article.title %>
<%= @article.content %>
<%= @article.gonghao_name %>
<%= @article.traffic %>
<label class="col-sm-2 control-label string optional" for="article_from">文章标签</label>
<% @article.labels.each do |label| %>
   <%= label.name %>
<% end %>

<hr />
<p>

  <% @pictures.each_with_index do |picture, index| %>
     <% if picture.persisted? %>
    <img src="<%= picture.avatar.url('40') %>">
      <%= link_to "修改", edit_article_picture_path(id: picture.id, article_id: params[:id]), class: "btn btn-default btn-xs" %>
      <%= link_to "删除", article_picture_path(id: picture.id, article_id: params[:id]), method: :delete, class: "btn btn-default btn-xs" %>
    <% if (index + 1) % 2 == 0 %>
      <br />
    <% end -%>
    <% end -%>
    <% end %>
