<h4><%= link_to("收藏本文", fav_article_path(@article), method: :put) %></h4>


<table>
  <tr>
    <thead>
      <td>文章标题</td>
      <td>文章内容</td>
      <td>工号名字</td>
      <td>阅读量</td>
      <td>文章标签</td>

    </thead>
  </tr>
  <tr>
    <tbody>

      <td><%= @article.title %></td>
      <td><%= @article.content %></td>
      <td><%= @article.gonghao_name %></td>
      <td><%= @article.traffic %></td>
      <td>
        <% @article.labels.each do |label| %>
        <%= label.name %>
        <% end %>
      </td>
    </tbody>
  </tr>
</table>
<hr>

<h3>评论</h3>
<%= link_to("new comment", new_article_comment_path(@article)) %>


<h6>所有评论</h6>
<table>
  <thead>
    <tr>
      <td>评论者</td>

      <td>评论内容</td>

    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment|%>
    <tr>
      <td><%= comment.speaker_name %></td>

      <td><%= comment.text %></td>

    </tr>
    <% end %>
  </tbody>
</table>
