
<%= @article.title %>
<%= @article.content %>
<%= @article.gonghao_name %>
<%= @article.traffic %>
<label class="col-sm-2 control-label string optional" for="article_from">文章标签</label>
<% @article.labels.each do |label| %>
   <%= label.name %>

<% end %>
