
<div class="row">
  <div class="col-md-6">
    <% if @article.image.present? %>
      <%= image_tag(@article.image.url('666'), class: "thumbnail") %>
    <% else %>
      <%= "sorry,no pics" %>
    <% end %>
  </div>
  <div class="col-md-6">
    <div><%= @article.title %></div>
    <div><%= @article.content %></div>
    <div><%= @article.gonghao_name %></div>
    <div><%= @article.traffic %></div>
    <div>
      <% @article.labels.each do |label| %>
        <%= label.name %>
      <% end %>
    </div>
  </div>
</div>
