<table>
  <tr>
    <thead>
      <td>文章标题</td>
      <td>文章内容</td>
      <td>工号名字</td>
      <td>阅读量</td>
      <td>文章标签</td>
    </thead>
  </tr>
  <tr>
    <tbody>
      <td><%= @article.title %></td>
      <td><%= @article.content %></td>
      <td><%= @article.gonghao_name %></td>
      <td><%= @article.traffic %></td>
      <td>
        <% @article.labels.each do |label| %>
           <%= label.name %>
        <% end %>
      </td>
    </tbody>
  </tr>
</table>

<hr />
<p>

  <% @pictures.each_with_index do |picture, index| %>
     <% if picture.persisted? %>
    <img src="<%= picture.avatar.url('40') %>">
      <%= link_to "修改", edit_article_picture_path(id: picture.id, article_id: params[:id]), class: "btn btn-default btn-xs" %>
      <%= link_to "删除", article_picture_path(id: picture.id, article_id: params[:id]), method: :delete, class: "btn btn-default btn-xs" %>
    <% if (index + 1) % 2 == 0 %>
      <br />
    <% end -%>
    <% end -%>
    <% end %>
